
header{
    height: 90px;
    width: 100%;
}

header img{
    float: left;
    width: 20%;
}

header ul {
    display: flex;
    list-style: none;
    float: right;
    width: 70%;
}

header ul li {
    margin: 20px;
}

header ul li a {
    text-decoration: none;
    color: black;
    font-weight: 900;
}
header ul li a:hover{
    
    text-decoration-line: underline;
}

.list{
    margin: 0;
    margin-top: 40px;
}

.list ol{
    display: flex;
    list-style: none;
}

.list ol li{
    margin-right: 20px;
}

.list ol span{
    margin: 0 20px;
    font-weight: 900;
}