*{
    margin: 0px;
    padding: 0px;
}
header{
    width: 100%;
    height: 90%;

}
img {
    width: 150px;
}
nav {
    display: flex;
 
    
}
 ul  {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 20px;
}
 ul li {
    text-align: center;
    padding: 0.7rem 0.7rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a {
    text-decoration: none;
    text-decoration:underline ;
    color:black;
}
a:hover{
    background-color:burlywood;
}
.list1{
    margin: 0px;
    padding: 10px;
    
}
.list1 ol {
    display: flex;
    list-style: none;  
}
.list1 ol li{
    padding: 0.7rem 0.7rem;
}
.breadcrumbs li+li:before{
   
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  .list1 li{
    margin-right: 20px;
}
.list1 ol   li a:hover{
    text-decoration: underline;
    background-color: coral;
}
.list1 ol li a {
    text-decoration-line: none;
    color: black;
}
section{
    display: flex;
}
article{
    border: 1px solid black;
    margin-left: 18px;

}
article span{
    color:rgb(177,171,171);
    margin-left: 6px;
    font-size: 15px;
}
article img{
    width: 250px;
    height: 300px;
    margin: 20px;
}
article p{
    font-size: 16px;
}
article p span{
    color: rgb(25,26,25);
    font-weight: bold;
    text-decoration:underline;
}
article .green {
    color: #2ecc71;
    font-size: 16px;
    margin-bottom: 10px;
}
article{
    border: 1px solid black;
    margin-left: 18px;

}
article span{
    color:rgb(177,171,171);
    margin-left: 6px;
    font-size: 15px;
}
article img{
    width: 250px;
    height: 300px;
    margin: 20px;
}
article p{
    font-size: 16px;
}
article p span{
    color: rgb(25,26,25);
    font-weight: bold;
    text-decoration:underline;
}
article .green {
    color: #2ecc71;
    font-size: 16px;
    margin-bottom: 10px;
}
article{
    border: 1px solid black;
    margin-left: 18px;

}
article span{
    color:rgb(177,171,171);
    margin-left: 6px;
    font-size: 15px;
}
article img{
    width: 250px;
    height: 300px;
    margin: 20px;
}
article p{
    font-size: 16px;
}
article p span{
    color: rgb(25,26,25);
    font-weight: bold;
    text-decoration:underline;
}
article .green {
    color: #2ecc71;
    font-size: 16px;
    margin-bottom: 10px;
}
article{
    border: 1px solid black;
    margin-left: 18px;

}
article span{
    color:rgb(177,171,171);
    margin-left: 6px;
    font-size: 15px;
}
article img{
    width: 250px;
    height: 300px;
    margin: 20px;
}
article p{
    font-size: 16px;
}
article p span{
    color: rgb(25,26,25);
    font-weight: bold;
    text-decoration:underline;
}
article .green {
    color: #2ecc71;
    font-size: 16px;
    margin-bottom: 10px;
}